.PaginationItem {
    display: flex;
    border: 3px solid #CDB4DB;
    margin: 10px 20px;
    padding: 20px 30px 10px 20px;
    background-color: #ECECEC;
    border-radius: 5px;
    position: relative;
    width: 40%;
    flex-direction: column;
    justify-content: space-between;
}

.PaginationItem:hover {
    cursor: default;
    box-shadow: 7px 7px 1px #bde0fe;
}

h3 {
    display: inline;
    padding: 5px;
    text-align: justify;
}

.PaginationItem li:hover {
    cursor: pointer;    
    color: #f579a8;
    text-align: justify;
    font-size:medium;
}

label {
    font-size: 12px;
}

.Line {
    height: 101%;
    width: 15px;
    position: absolute;
    bottom: -1px;
    right: -2px;
    border-radius: 0 5px 5px 0;
    background-color: #CDB4DB;
}

p {
    text-align: justify;
}


@media (max-width: 1000px) {
    .PaginationItem {
        width: 70%;
    }
}